h1 {
    color:rgb(133, 133, 171);
    text-align: center;
    text-decoration: overline;
    text-decoration-style: solid;
}
.container {
    height: 400px;
    width: 400px;
    background-color: rgb(250, 135, 94);
    border: 3px solid black;
    
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
}
.item {
    border: 1.5px solid black;
    text-align: center;
    text-decoration: underline;
}
#item1 {
    background-color: brown;
}
#item2 {
     background-color: rgb(42, 147, 165);
}
#item3 {
    background-color: rgb(113, 151, 48);
}
#item4 {
    background-color: rgb(165, 130, 42);
}
#item5 {
    background-color: rgb(6, 42, 66);
}
#item6 {
    background-color: rgb(153, 56, 121);
}
#item7 {
    background-color: rgb(192, 230, 22);
}
#item8 {
    background-color: rgb(202, 43, 43);
}
#item9 {
    background-color: rgb(65, 207, 150);
}
#item10 {
    background-color: rgb(124, 56, 213);
}
#item11 {
    background-color: rgba(132, 165, 42, 0.683);
}
#item12 {
    background-color: rgb(12, 192, 150);
}
#item13 {
    background-color: rgb(113, 9, 58);
}
#item14 {
    background-color: rgba(9, 223, 27, 0.902);
}
#item15 {
    background-color: rgba(42, 165, 165, 0.653);
}
#item16 {
    background-color: rgb(42, 56, 165);
}